.editor {
    flex: 1;
    padding: 16px;
}

textarea {
    height: 100%;
    border-radius: 4px;
    border: none;
    font-size: 100%;
    line-height: inherit;
    padding: 18px 16px;
    resize: none;
    overflow: auto;
}

textarea :focus {
    outline: none;
}