.footer {
    padding-top: 3vh;
    height: 5vh;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0px;
    color: #f89541;
    background: #000;
    vertical-align: middle;
}
