.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    height: 8vh;
}

.dark {
    background-color: #f89541;
}

.light {
    background-color: #f8f541;
    box-shadow: 0px -2px 8px #000;
}

.header-title {
    padding: 24px 32px;
}

.header-content {
    padding: 24px 32px;
    cursor: pointer;
}
